<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/IFPM/IFPM.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/IFPM/IFPM.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--<maxHistory>6</maxHistory>-->
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="deviceLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/IFPM/device.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/IFPM/device.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--<maxHistory>6</maxHistory>-->
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- project default level -->
    <logger name="com" level="INFO"/>
    <logger name="com.infofuse.business.park.device.service.impl.DeviceServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="deviceLog"/>
    </logger>

    <!--log4jdbc -->
    <logger name="jdbc.sqltiming" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>